ion-menu-button.ios {
    color: #417948;
}

ion-title.ios {
    background: rgb(255, 255, 255);
    color: #417948;
}

ion-card-subtitle.ios {
    font-size: 10px;
}

.noticia {
    background: var(ion-color-light-green);
    color: rgb(255, 255, 255);
}