.text {
    padding-left: 20px;
    padding-right: 20px;
    
    
    
}

ion-menu-button.ios {
    color: #417948;
}

ion-title.ios {
    background: rgb(255, 255, 255);
    color: #417948;
}

ion-card-subtitle.ios {
    font-size: 10px;
}

h2 {
    width: 100%;
    color: #417948;
    padding-left: 16px;
}

h4 {
    width: 100%;
    color: #417948;
    padding-left: 20px;
    padding-right: 10px;

}

img {
    
padding-left: 60px;
padding-top: 20px;
padding-bottom: 10px;
}