ion-menu ion-content {
  --background: var(--ion-color-green);
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  
}

ion-menu ion-list {
  padding: 20px 0;
  background-color: #417948;
}

ion-menu ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-menu ion-note {
  text-align: center;
  align-content: center;
  width: 100%;
  color: white;
}

ion-menu ion-list-header {
  padding-left: 70px;
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu ion-item {
  border-radius: 50px;
  color: white;
  --background: var(--ion-color-green);
}

ion-menu ion-item.selected {
  display: inline-block;
  --background: #ffffff;
  color: var(--ion-color-green);
}


ion-menu ion-item ion-label {
  font-weight: 500;
}

ion-note {
  display: inline-block;
  font-size: 16px;
}

ion-item.selected {
  --color: var(--ion-color-green);
}

